---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Search from '../components/Search.astro';
import { SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={`検索する | ${SITE_TITLE}`} description="サイト内検索" />
		<style>
			h1 {
				margin: 0 0 1em 0;
				font-size: 16px;
			}
		</style>
	</head>
	<body>
		<Header />
		<Main width="960px">
			<h1>検索する</h1>
			<Search />
		</Main>
		<Footer />
	</body>
</html>
