---
interface Props {
	href: string;
	label: string;
	icon: string;
	active: boolean;
}

const { href, label, icon, active } = Astro.props;
---

<a
	href={href}
	class:list={['tab-link', { active }]}
	data-active={active ? 'true' : undefined}
	aria-current={active ? 'page' : undefined}
	aria-label={label}
>
	<svg class="tab-icon" viewBox="0 0 24 24" aria-hidden="true">
		<path d={icon}></path>
	</svg>
	<span class="tab-label">{label}</span>
</a>

<style>
	.tab-link {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		margin-right: 16px;
		padding: 16px 0 8px;
		border-radius: 4px;
		color: rgb(var(--gray));
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		transition: color var(--transition-hover);
	}
	.tab-link:hover,
	.tab-link.active {
		color: rgb(var(--gray-dark));
	}
	.tab-link.active::after,
	.tab-link[data-active='true']::after,
	.tab-link[aria-current='page']::after {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 3px;
		background: currentColor;
		content: '';
	}
	.tab-icon {
		display: none;
		width: 1.8rem;
		height: 1.8rem;
		fill: currentColor;
	}
	@media (max-width: 720px) {
		.tab-link {
			margin-right: 16px;
			padding: 16px 0 8px;
			border-radius: 4px;
		}
		.tab-label {
			display: inline-block;
		}
		.tab-icon {
			display: none;
		}
	}
</style>
