---
import FormattedDate from './FormattedDate.astro';

interface Props {
	id: string;
	title: string;
	pubDate: Date;
}

const { id, title, pubDate } = Astro.props;
---

<li class="post-list-item">
	<a class="post-list-link" href={`/blog/${id}/`}>
		<span class="post-list-title">{title}</span>
		<span class="post-list-date">
			<FormattedDate date={pubDate} />
		</span>
	</a>
</li>
